
section.terms-conditions,
section.data-policy  {
  padding-top: 20px;
}

.terms-policy-text {
  background-image: url(../img/bg-hex.png);
  padding: 30px 55px;
  font-size: 18px;
  line-height: 25px;

  @media screen and (max-width: 750px) {
    padding: 30px 35px;
  }
}
