.contact-us {
  padding: 55px 6% 50px;

  text-align: center;
  font-size: 16px;

  .contact-slogan {
    max-width: 650px;
    margin: 15px auto;
  }

  h2 {
    font-size: 35px;
  }
}

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: auto;
  width: 650px;

  input,
  textarea {
    margin-bottom: 15px;
    padding: 10px 15px;
    padding-right: 40px;

    font: inherit;
    color: $color-text-default;

    background-color: $color-white;
    // background-color: rgba(92, 168, 220, .25);
    background-color: fade-out($logo-color-light-blue, .75);
    border-radius: 15px;
    border: 2px solid fade-out($logo-color-blue, 1); // rgba(1, 62, 123, 0.8);
  }

  input.touched:invalid,
  textarea.touched:invalid,
  .policy-checkbox-input.touched:not(:checked) + span.checkbox-indicator {
    background-color: fade-out( $invalid-color, .85);
    border: 2px solid $invalid-color;
  }

  .input-half-width {
    width: 48%;
  }

  .input-full-widht {
    width: 100%;
  }

  .contact-button {
    width: 38%;
  }

  .policy-checkbox {
    position: relative;
    padding: 10px 0;
    width: 45.5%;


    .policy-checkbox-input {
      top: 50%;
      left: 15px;
    }

    .policy-checkbox-text {
      margin-left: 10px;
    }

    input[type="checkbox"]+.checkbox-indicator {
      position: absolute;
      top: 10px;
      left: 0;

      width: 22px;
      height: 22px;
      border: 2px solid darken($logo-color-light-blue, 25);
    }

    input[type="checkbox"]:checked+.checkbox-indicator::before,
    input[type="checkbox"]:checked+.checkbox-indicator::after {
      content: '';

      position: absolute;
      top: 8px;
      left: 0px;

      width: 17px;
      height: 2px;

      background-color: darken($logo-color-light-blue, 25);
    }

    input[type="checkbox"]:checked+.checkbox-indicator::before {
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked+.checkbox-indicator::after {
      transform: rotate(-45deg);
    }

  }

  .contact-button {
    padding: 10px 30px;

    font: inherit;
    text-align: center;
    color: $color-white;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: darken($logo-color-light-blue, 25); //lighten($logo-color-blue, 15%);
    border: none;
    border-radius: 15px;
  }

}

// Mobiles styles
.contact-form {

  @media screen and (max-width: 750px) {
    width: 90%;

    .input-half-width {
      width: 100%;
    }

    .contact-button,
    .policy-checkbox {
      width: 55%;
      min-width: 295px;
      margin: 5px auto;
    }

    .policy-checkbox {
      position: relative;
      padding: 13px 0;

      .policy-checkbox-text {
        display: block;
        margin-left: 40px;
        text-align: left;
      }

      input[type="checkbox"]+.checkbox-indicator {
        width: 27px;
        height: 27px;
      }

      input[type="checkbox"]:checked + .checkbox-indicator::before,
      input[type="checkbox"]:checked + .checkbox-indicator::after {
        top: 10px;
        left: 2px;

        width: 19px;
        height: 2px;
      }
    }


  }
}
