.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  right: calc(50% - 100px);
  z-index: 1;
}

.main-navigation {
  text-transform: uppercase;
  line-height: 26px;
  /* font-weight: 700; */
}

.site-navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 56px;
  padding: 0 6%;
  list-style: none;
}

.site-navigation-item {
  width: 22%;

  a {
    color: $navigation-link-color;
  }

  &:nth-child(-n+2) {
    text-align: left;
  }

  &:nth-child(n+3) {
    text-align: right;
  }

  &:nth-child(2) {
    margin-right: 9.5%;
  }

}
