.slider:not(.slider-terms) {
  position: relative;
  padding-top: 55px; // height of fixed header with navigation
}

.slider-terms {
  position: relative;
  &::after{
    content: "";
    z-index: 1;
    @extend .slider-overlay;
  }
}

.slider-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: $hero-overlay-color;
}

.terms-img {
  width: 100%;


}

.slider-content {
  position: absolute;
  top: 55px; // take into account the height of fixed header
  left: 0; // take into account the height of fixed header
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 10;
  /* text-align: center; */

  .item {
    max-width: 80%;
    text-align: center;
  }

  h2 {
    margin: 15px 0;
    font-size: 44px;
    line-height: 38px;
    font-weight: 700;
  }

  p {
    font-size: 1.9em;
    line-height: 38px;
    margin: 0;
  }
}

.slider-terms{
  min-height: 400px;
  background-image: url(../img/terms-cut.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}



@media(max-width: 900px) {

  .slider-content {
    .item {
      max-width: 80%;
      text-align: center;
    }

    h2 {
      font-size: 36px;
      line-height: 28px;
      font-weight: 700;
    }

    p {
      font-size: 28px;
      line-height: 30px;
    }
  }

}

@media(max-width: 550px) {

  .slider-content {
    .item {
      max-width: 90%;
      text-align: center;
    }

    h2 {
      font-size: 2em;
      line-height: 28px;
      font-weight: 700;
    }

    p {
      font-size: 1.5em;
      line-height: 23px;
    }
  }

}
