.slider:not(.slider-terms) {
  position: relative;
  padding-top: 55px; // height of fixed header with navigation
}

.slider-terms,
.slider-products {
  position: relative;
  &::after{
    content: "";
    z-index: 1;
    @extend .slider-overlay;
  }
}

.slider-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: $hero-overlay-color;
}

.terms-img {
  width: 100%;


}

.slider-content {
  position: absolute;
  top: 55px; // take into account the height of fixed header
  left: 0; // take into account the height of fixed header
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 10;
  /* text-align: center; */

  .item {
    max-width: 80%;
    text-align: center;
  }

  h2 {
    margin: 15px 0;
    font-size: 44px;
    line-height: 38px;
    font-weight: 700;
  }

  p {
    font-size: 27px;
    line-height: 38px;
    margin: 0;
  }
}

.slider-terms{
  min-height: 400px;
  background-image: url(../img/terms-cut.jpg);
  background-image: url(../img/terms-cut.webp);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.slider-products {
  min-height: 350px;
  // background-image: url(../img/code.png);
  background-image: url(../img/products-cut.jpg);
  background-image: url(../img/products-cut.webp);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
}


@media(max-width: 1000px) {

  .slider-content {
    .item {
      max-width: 92%;
    }

    p {
      font-size: 24px;
      line-height: 30px;
    }
  }

}


@media(max-width: 900px) {

  .slider {
    min-height: 470px;
    background-image: url('../img/main.jpg');
    background-image: url('../img/main.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .index-hero-image {
    display: none;
  }

  .slider-content {

    h2 {
      font-size: 36px;
      line-height: 28px;
      font-weight: 700;
      margin-top: 0;
    }
  }

}

@media(max-width: 800px) {

  .slider-content {
    .item {
      max-width: 90%;
    }

    h2 {
      font-size: 34px;
      line-height: 28px;
    }

    p {
      font-size: 22px;
      line-height: 27px;
    }
  }

}

@media(max-width: 720px) {

  .slider-content {

    p {
      font-size: 20px;
      line-height: 24px;
    }
  }

}

@media(max-width: 620px) {

  .slider-content {
    .item {
      max-width: 95%;
    }

    // h2 {
    //   font-size: 25px;
    //   line-height: 30px;
    // }

    // p {
    //   font-size: 15px;
    //   line-height: 18px;
    // }
  }

}
