.slider {
  position: relative;
}

.slider-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: $hero-overlay-color;
}

.slider-content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  /* z-index: 300; */
  /* text-align: center; */

  .item {
    max-width: 80%;
    text-align: center;
  }

  h2 {
    font-size: 2.9em;
    line-height: 38px;
    font-weight: 700;
  }

  p {
    font-size: 1.9em;
    line-height: 38px;
  }
}

@media(max-width: 750px) {

  .slider-content {
    .item {
      max-width: 90%;
      text-align: center;
    }

    h2 {
      font-size: 2em;
      line-height: 28px;
      font-weight: 700;
    }

    p {
      font-size: 1.5em;
      line-height: 23px;
    }
  }

}
