@import "_variables";

body {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.container {
  max-width: 1300px;
  min-width: 500px;
  margin: 0 auto;
}

.container-bg {
  background-color: $color-white;
}

div.container:not(.full-width) {
  box-shadow: 0 20px 30px transparentize($color-black, 0.7);
}

.hidden {
  display: none;
}
