//colors
$color-white: #ffffff;
$color-black: #000000;
$color-text-default: #333333;
$bg-color: #f2f2f2;

$footer-bg-color: #dcdcdc;

$navigation-link-color: $color-black;
$hero-overlay-color: rgba(45, 51, 69, 0.5);
$advantages-color: #0095fb;

$logo-color-light-blue: #5da9dd;
$logo-color-blue: #013e7b;

$modal-link-color: #00ffff;

//font
$font-family-default: 'Arial', sans-serif;
