//colors
$color-white: #ffffff;
$color-text-default: #333333;
$bg-color: #f2f2f2;

$footer-bg-color: #dcdcdc;

$navigation-link-color: #000000;
$hero-overlay-color: rgba(45, 51, 69, 0.8);
$advantages-color: #0095fb;

//font
$font-family-default: 'Arial', sans-serif;
